.container-ad {
  margin-top: 30px;
  margin-bottom: 0px;
}
.admission-content {
  padding: 0;
  margin: 0;
}

.ad-content {
  display: flex;
  /* border: 2px solid rgb(208, 245, 21); */
  padding: 20px 20px;
  margin: 0;
  width: auto;
  height: 60px;
  overflow: hidden;
}
.ad-d {
  padding-left: 15px;
  /* border: 2px solid red; */
}
.ad-d a {
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  color: #1e2d3b;
}
.ad-content:hover {
  background-color: #cee5ec;
  border: 0px solid;
  border-radius: 25px;
}
#extra-ad{
    display: none;
}
