.contact {
  padding: 10px 40px;
  display: flex;
  align-items: center;
}
.contact i {
  color: brown;
}
.contact a {
  color: black;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* font-family:cursive; */
  font-size: 18px;
}
#w-hour{
  display: flex;
  align-items: baseline;
}

.main-c {
  height:400px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.left-c{
  padding: 10px;
  /* margin: 0 auto; */
  /* border: 2px solid rgb(0, 195, 255); */
}
.right-c{
  /* border: 2px solid rgb(55, 0, 255); */
  padding: 10px;
}
.contact-map {
  padding: 20px;
  display: flex;
  justify-content: center;
}
.contact-map iframe {
  margin: 0 auto;
  padding: 20px;
}
.f-form {
  padding: 20px;
  border-radius: 8px;
}
h1 {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #333;
  font-size: 19px;
}
form {
  display: flex;
  flex-direction: column;
}

input[type="text"],
textarea {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #bb2222;
  border-radius: 4px;
}
input[type="submit"] {
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #bb2222;
  color: white;
  cursor: pointer;
}
input[type="submit"]:hover{
  background-color: #ed5555;
  color:bisque;
}