/* border: 2px solid red; */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  position: sticky;
  top: 0;
  width: 100%;
  /* border: 2px solid red; */
  display: flex;
  height: 100px;
  width: auto;
  z-index: 1;
  transition: height 0.3s, width 0.3s;
}
#logo {
  display: flex;
  width: fit-content;
  background-color: #edcd1f;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}
#logo_img {
  height: 100px;
  width: 100px;
  transition: height 0.3s, width 0.3s;
}
.title {
  color: navy;
  display: flex;
  flex-direction: column;
}
#t1 {
  transition: height 0.3s, width 0.3s;
  font-size: 52px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
#t2 {
  transition: height 0.3s, width 0.3s;
  font-size: 19px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
#navbar {
  /* border: 2px solid rgb(60, 170, 50); */
  background-color: #1e2d3b;
  height: 100%;
  width: 100%;
}

.navbar ul {
  margin-top: 0;
  /* border: 1px solid rgb(60, 170, 50); */
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 20px;
}
.navbar li a {
  color: azure;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  padding: 15px;
}
.navbar a:hover {
  color: #edcd1f;
  font-size: 19px;
}

.content-1 {
  width: 100%;
  position: relative;
}

.bg {
  height: 500px;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("img/bg06.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-text {
  text-align: center;
  position: absolute;
  top: 30%;
  left: 35%;
  color: white;
}
.text1 {
  font-size: 90px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  /* font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal; */
}
.text2 {
  font-family: "Galada", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
}

.content-2 {
  margin-top: 60px;
  margin-bottom: 0px;
}
.announcement_content {
  padding: 0;
  margin: 0;
}
.a-row {
  display: flex;
  justify-content: space-around;
}
#a-row-hidden {
  display: none;
  /* display: flex; */
  justify-content: space-around;
  animation: animation_ann 1s;
}
@keyframes animation_ann {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.a-content {
  display: flex;
  align-items: center;
  /* border: 2px solid rgb(208, 245, 21); */
  padding: 20px;
  margin: 0;
  width: 255px;
  height: 60px;
  overflow: hidden;
}
.a-d {
  padding-left: 15px;
}
.a-d a {
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  color: #1e2d3b;
}
.a-content:hover {
  background-color: #cee5ec;
  border: 0px solid;
  border-radius: 25px;
}

.more-button {
  text-align: center;
  cursor: pointer;
}

.more-button a {
  display: inline-block;
  padding: 10px 20px;
  margin: 18px auto;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(0, 85, 255);
  border: 2px solid rgb(0, 85, 255);
  border-radius: 6px;
}

.content-3 {
  margin: 0;
}
.c_title {
  padding-left: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #333;
}
.news {
  display: block;
}
.news-row {
  height: 50px;
  width: 70vw;
  padding: 40px;
  border-radius: 20px;
  margin-left: 40px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.news-row:hover {
  background-color: #cee5ec;
  /* background-color: #fffd6f5a; */
}
.news-pic {
  height: 70px;
  width: 70px;
}
.news-title {
  padding-left: 30px;
}
.news-title a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  color: #1e2d3b;
}
#extraNews {
  display: none;
  animation: animation_ann 1s;
}

.content-4 {
  margin: 30px 0px;
  position: relative;
}
.slide1 {
  padding: 20px 120px;
  display: none;
}
.slide1-img {
  height: 500px;
  width: 80vw;
}

.c4-button {
  padding: 10px 50px;
  position: absolute;
  top: 50%;
  cursor: pointer;
  font-size: 29px;
}
#c4-prev {
  left: 0;
}
#c4-next {
  right: 0;
}

.footer {
  padding: 100px 15%;
  background-color: #333;
  color: #efefef;
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.cont {
  width: 400px;
  display: flex;
  justify-content: space-around;
  margin-left: 90px;
}
.footer h3 {
  margin-bottom: 30px;
  font-weight: 300;
  letter-spacing: 1px;
  color: #edcd1f;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.col-1 a {
  display: block;
  text-decoration: none;
  color: #efefef;
  margin-bottom: 10px;
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.col-2 a {
  display: block;
  text-decoration: none;
  color: #efefef;
  margin-bottom: 10px;
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.col-3 i {
  display: inline;
  padding: 9px;
}
.col-3 a {
  color: #efefef;
  text-decoration: none;
}
.footer a:hover{
  color: #edcd1f;
}